/* #preview {
  display: none;
  margin: 0 110px;
  background-color: rgba(164, 164, 164, 0.5);
}

#preview-container {
  width: 362px;
  height: 522px;
  background: url('../img/RoseGold.png');
  background-size: cover;
} */

.app-header {margin: 0;padding: 0;color: while !important;height: 50px;\: 0 0 10px 0;}

#channel-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
#channel-list li {
  width: 33%;
  height: 70px;
  text-align: center;
  margin: 2px;
  border: 1px solid;
}

#channel-list li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#channel-list li a.active {
  background-color: #EEE;
  border: none !important;
  color: black;
}

#formId .container {
  width: 100% !important;
}

#formId table {
  margin: 0;
}

#formId .panel {
  width: 100% !important;
  display: block !important;
  margin: 5px 0;
}
#formId .pagination {
  margin: 0;
}

#formId table td {
  padding: 10px 5px;  
}


/* bootstrap override */
#formId.no-preview .alert-info {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #9acfea;
}
#formId.no-preview .alert {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#formId.no-preview .alert-info {
  color: black;
  background: none;
  border: none;
}
#formId.no-preview .alert {
  padding: 0;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}
#formId.no-preview .panel-default>.panel-heading {
  background: none;
  border-radius: 0;
}
#formId.no-preview .btn-success,
#formId.no-preview .btn-danger {
  background: none;
  border: 1px solid #ccc;
  color: black;
}

/*  builder screen style */
.page-header {
  border: none;
}
/* channel 1 styling */
#formId.Channel1 .page-header,
#formId.Channel2 .page-header {
  padding-bottom: 9px;
  margin: 20px 0 20px;
  border-bottom: 2px solid #337ab7;
}
#formId.Channel3 .page-header {
  border-bottom: 2px solid #337ab7;
  margin-bottom: 15px;
}
#formId.Channel2 .page-header,
#formId.Channel3 .page-header {
  text-align: center;
}
#formId.Channel1 .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
#formId.Channel1 .alert-info {
  border-color: #337ab7;
  background-color: #fff;
}
#formId.Channel1 thead {
  background-color: rgba(107, 204, 251, 0.36);
}

#formId.Channel1 .pagination .active {
  border: none !important;
}
#formId.Channel1 .btn-success {
  color: white;
}

#formId.Channel1 .pagination a,
#formId.Channel3 .pagination a,
#formId.Channel2 .pagination a,
#formId.Channel1 .pagination span,
#formId.Channel3 .pagination span,
#formId.Channel2 .pagination span,
#formId.Channel1 .pagination a:hover,
#formId.Channel3 .pagination a:hover,
#formId.Channel2 .pagination a:hover,
#formId.Channel1 .pagination span:hover,
#formId.Channel3 .pagination span:hover,
#formId.Channel2 .pagination span:hover,
#formId.Channel1 .pagination a:focus,
#formId.Channel3 .pagination a:focus,
#formId.Channel2 .pagination a:focus,
#formId.Channel1 .pagination span:focus,
#formId.Channel3 .pagination span:focus,
#formId.Channel2 .pagination span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

/* channel 1 style - update customer */
#formId.Channel1 .form-group {
  margin-bottom: 15px;
  position: static;
  height: 35px;
}

#formId.Channel1 .form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}
#formId.Channel1 .btn,
#formId.Channel3 .btn {
  margin: 0 2px;
  color: white;
}

#formId.Channel2 .btn {
  margin: 2px;
  color: white;
}
#pageDropDown {
  color: black !important;
}

#formId.Channel1 .h-divider,
#formId.Channel2 .h-divider,
#formId.Channel3 .h-divider {
  margin-top: 20px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
  border-top: 2px solid #337ab7;
}
#formId.Channel1 {
  background-color: rgba(233, 236, 239, 1);
}

/* channel 2 style */
#formId.Channel2 {
  background-image: url("../img/iPhone X@2x_preview.png");
  background-size: contain;
  width: 384.5px;
  height: 800px;
  margin: 0 auto;
  padding: 37px 10px;
  background-color: transparent;
}

#formId.Channel2 label.col-sm-2,
#formId.Channel3 label.col-sm-2,
#formId.Channel2 .col-sm-10,
#formId.Channel3 .col-sm-10 {
  width: 100%;
  display: block;
}

#formId.Channel2 .form-group,
#formId.Channel3 .form-group {
  height: 60px;
}

#formId.Channel2 input[name="customerId"],
#formId.Channel3 input[name="customerId"] {
  margin-bottom: 7px;
}

#formId.Channel2 .panel-body {
  overflow: auto;  
}
#formId.Channel2 .pagination, 
#formId.Channel3 .pagination{
  float: right;
}
#formId.Channel2 .col-sm-12,
#formId.Channel3 .col-sm-12,
#formId.Channel2 .col-sm-10,
#formId.Channel3 .col-sm-10,
#formId.Channel2 .col-sm-2, 
#formId.Channel3 .col-sm-2 {
  padding: 0;
}
/* channel 3 style */
#formId.Channel3 {
  background-image: url(../img/rose-gold-white-bg.png);
  background-size: contain;
  background-color: transparent;
  width: 742px;
  height: 514px;
  padding: 20px 55px;
  margin: 0 auto;
}

#formId.Channel3 .alert {
  margin-bottom: 5px;
}

#formId.Channel3 .container {
  padding-bottom: 15px;
}

#formId.Channel3 #mini-app-form {
  height: 474px;
  overflow: auto;
}